body{
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #FFFFFF;
}

/* Reset styles */

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

.container{
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

.section{
    border-bottom: 1px solid #E7E9FC);
        background: #FFF);
        
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* header */

.header{
    background: #FFF;  
}

.header .container{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
}

.logo {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 25.5px;
        margin-bottom: 25.5px;
        margin-right: 76px;
        
       
}

.logo-dark {
    color: #2e2f42;
}

.navigation-list{
    display: flex;

    
}

.navigation{
  color: #2E2F42;  
            font-family: 'Roboto',
                    sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
               
}

.header-list{
            display: flex;
                margin-top: 24px;
                margin-bottom: 24px;
                margin-right: 40px;
                margin-left: 0;
}

.header-list:last-child{
margin-right: 0;
}

.navigation:hover{
    color: #404bbf;

        font-family: 'Roboto',
            sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;

}


.navigation:focus{
    color: #404bbf;
    
        font-family: 'Roboto',
            sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.address{
    font-style: normal;
        line-height: 24px;
            letter-spacing: 0.32px;
            margin: 24px 0px 24px 0;
           
     
}

.address-list-item{
    margin-right: 40px;
}
.address-list-item:last-child{
    margin-right: 0;
}

.address-list{
    display: flex;
    

}

.mail-tel {
    color: #434455;
    
        font-family: 'Roboto',
            sans-serif;  
        font-size: 16px;
        font-style: normal;
       
        line-height: 24px;
        letter-spacing: 0.02em;
}



.mail-tel:hover {
    color:#404bbf;

    font-family: 'Roboto',
        sans-serif;
    font-size: 16px;
    font-style: normal;

    line-height: 24px;
    letter-spacing: 0.02em;
}

.mail-tel:focus{
    color: #404bbf;
    
        font-family: 'Roboto',
            sans-serif;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.02em;
}


/* main */

.main-title-container{
    padding-bottom: 120px;
    padding-top: 188px;
}

.main{

}

.section-first{
    background: #2E2F42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title{
color: #FFF;
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07em;
    width: 496px;
margin-bottom: 48px;
align-items: center;

}


.button{
    color: #FFF;
    font-family: "Roboto", sans-serif;
    background: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    align-items: center;
    border-radius: 4px;
    margin-left: 164px;
    justify-content: center;    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   
}

.button:hover{
        color: #FFF;
            font-family: "Roboto", sans-serif;
            background-color: #404BBF;
            cursor: pointer;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em
}

.button:focus{
    color: #FFF;
        font-family: "Roboto", sans-serif;
        background-color: #404BBF;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em
}

/* Section 2 */

.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.section-second{
    background: #FFF;
    padding: 120px 0;
}


.section-second-list{
    display: flex;
}

.section-second-li{
    margin-right: 24px;
    width: 264px;
}

.section-second-li:last-child{
    margin-right: 0;
}

.section-second-title{
    color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;

        margin-bottom: 8px;
}

.section-second-p{
    color: #434455;
        font-family: Roboto;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
}


/* Section 3 */

.section-third{
    background: #F4F4FD;
}
.photo{
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
    width: 264px;
    height: 260px;
    
    margin-bottom: 32px;
}

.title-team{
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        
        padding-bottom: 72px;
        padding-top: 120px;
}

.title-name{
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.profession{
    color: #434455;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
}

.team-list {
    display: flex;
    padding-bottom: 120px ;
}

.team-card{
    background-color: #FFFFFF;
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-card:last-child {
    margin-right: 0;
}

/* Section 4 */

.section-fourth{
background: #FFF;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
}

.portfolio{
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-top: 120px;
        padding-bottom: 72px;
}
/* !!!!!!!!!!!!!! */
.portfolio-item{
    width: calc(100% - 24px*2)/3;
    margin-right: 24px;
    padding-bottom: 120px;
    margin-bottom: 48px;
}

.portfolio-item:nth-child(3n+3){
    margin-right: 0;
}

.portfolio-photo{
    margin-bottom: 32px;
    width: 360px;
    height: 300px;
}

.projects{
    color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.project-type{
    color: #434455;
        font-family: Roboto;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
}

.footer{
    background: #2E2F42;
}

.logo-light {
    color: #f4f4fd;
}

.logo{
color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-container{
    padding-top: 101.5px;
    padding-bottom: 100px;
}

.footer-text{
        color: #F4F4FD;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;

}